<h1> List of Top Divesites in the World</h1>


<table>
  <thead>
    <tr>
      <th> Divesite </th>
      <th> Country </th>
    </tr>
  </thead>


  <tbody>
    <%= form_tag destroy_multiple_admin_divesites_path, method: :delete do %>
      <%@divesites.each do |site| %>
        <tr>
          <td>
            <%= check_box_tag "site_id[]", site.id%>
            <%= link_to site.name, admin_divesite_path(site.id) %>
          </td>
          <td>
            <%= site.country %>
          </td>
        </tr>
      <%end%>
    <tr>
      <td>
        <%= submit_tag "Delete Selected Divesites", data: {confirm: "Are you sure?"}%> <!-- confirmation isn't working in table? -->
      <%end%>
      </td>
    </tr>
  </tbody>
</table>



