<h1><%= @divesite.name %></h1>

<%= image_tag @divesite.image.url.to_s%>

<p>
  <%if @divesite.region != ""%>
    <strong>Region:</strong>
    <%= @divesite.region %>
  <%end%>
</p>

<p>
  <strong>Country:</strong>
  <%= @divesite.country %>
</p>

<p>
  <strong>Overall Rating:</strong>
  <%= @divesite.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @divesite.description %>
</p>

<p>
  <%if @divesite.surrounding_area != ""%>
    <strong>Surrounding Area:</strong>
    <%= @divesite.surrounding_area %>
  <%end%>
</p>

<p>
  <%if @divesite.water_temperature != ""%>
    <strong>Average Water Temperature:</strong>
    <%= @divesite.water_temperature %>
  <%end%>
</p>

<p>
  <%if @divesite.visibility != ""%>
    <strong>Average Visibility:</strong>
    <%= @divesite.visibility %>
  <%end%>
</p>

<p>
  <strong> Best Known For:</strong>
  <% @divesite.categories.each do |category|%>
  <%=link_to category.name, category_path(category)%><br>
  <%end%>
</p>

<p>
  <strong> Best Month(s) of the Year to Dive:</strong>
  <% @divesite.months.each do |month|%>
  <%=link_to month.name, month_path(month)%><br>
  <%end%>
</p>
