
<h1 align="center"> Complete List of Divesites </h1>

<%= search_form_for @search, url: divesites_path do |f| %>
  <%=f.select :country_eq, options_from_collection_for_select(Divesite.all, "id", "country"), include_blank: true %>

  <%= f.submit "Search"%>
<%end%>

<table align="center">
  <th width = "150"><%= sort_link @search, :name, "Site Name"%> </th>
  <th width = "150"><%= sort_link @search, :country, "Country"%> </th>
  <th width = "200"><%= sort_link @search, :category, "Best Known For"%></th>
  <th width = "200"><%= sort_link @search, :month, "Best Months to Dive"%></th>
  <th width = "100"><%= sort_link @search, :rating, "Overall Rating"%></th>


<% @divesites.each do |site|%>
 <tr>
  <td><%= link_to site.name, divesite_path(site.id) %></td>
  <td><%= site.country%></td>
  <td>
      <%site.categories.each do |category|%>
      <%= link_to category.name, category_path(category)%><br>
      <%end%>
  </td>
  <td>
      <%site.months.each do |month|%>
      <%= link_to month.name, month_path(month)%><br>
      <%end%>
  </td>
  <td><%= site.rating%></td>
</tr>
<%end%>



</table>
<%= link_to "Back to Home Page", root_path%>
