<h1>Reviews for <%=@divesite.name%></h1>

<% @reviews.each do |review|%>

<table>
  <tr>
    <td><%= review.title %></td>
    <td>Rating: <%= review.rating %></td>
  </tr>

  <tr>
    <td colspan="2"><%= review.body%></td>
  </tr>
</table>
<%end%>

<%= link_to "Back to Divesite", divesite_path(@divesite)%>
