<div class='admin-form'>
  <%= simple_form_for [@divesite, @review] do |f| %>

    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :rating, collection: 1..5 %>
    <%= f.input :date%>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :divesite_id, :value => @divesite.id %>
    <%= f.button :submit %>
  <%end%>
</div>
